body {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-size: 50px;
}
.ashik {
  color: orange;
}
section {
  display: flex;
}
.wellcome {
  width: 55%;
  margin-left: 60px;
}
.image img {
  width: 75%;
  margin-left: 120px;
}
.facbook-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  color: white;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 5px;
}
.top-baner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
